html {
    background-color: blue;
}
#TopText { display: inline-block;
    width: 50em;

}
#topImag {
    width: 25;
}
#bottomText {
    margin: 25rem;
}
#topContent {
    margin: 5vw;
    border-bottom: 2px solid gold;
    padding-bottom: 5vh;

}
#bottom {
    font-size: 36pt;
}
div p {padding: 20%;

}